@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:rgb(115, 171, 255);
}


nav{
  background-color: rgb(46, 68, 139);

}
li,a,button{
  font-family:Montserrat,sans-serif;
  font-weight: 500;
  font-size:20px;
  color: #edf0f1;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
}
.logo{
  width: 100px; /* you can use % */
  height: auto;
  cursor: pointer;
}

.nav_Links{
  list-style: none;
}
.nav_Links li{
  display: inline-block;
  padding: 0px 20px;
}
.nav_Links li a {
  text-decoration: none;

  transition: all 0.3s ease 0s;
}
.nav_Links li a:hover{
  color: rgb(63, 41, 40);
}
button{
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius:50px ;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
botton:hover{
  background-color: rgba(0,136 ,169, 0.8);
}


:root {
  --dark-bg: rgba(255, 240, 240, 0.95);
  --spacing: 75px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 100px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 10fr);
}

h1, h2, h3, blockquote {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



.Main_Header {

    grid-column: 5 / span 4;
    font-size: 2.5rem;
    padding: 0.75rem;

    margin-bottom: var(--spacing);
   }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }
  .Truck_Shoot{
    width: 70%; /* ie8 */
    height: auto;
    margin-bottom: 40px;
    grid-column: 8/ span 10;
  }
  .Phone{
    
    width: 30%; /* ie8 */
    height: auto;
    margin-bottom: 40px;
    grid-column: 9/ span 11;
  }
  .Truck_ShootL{
    width: 400%; /* ie8 */
    height: auto;
    margin-bottom: 40px;
    grid-column: 2/ span 2;
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color:  #ffffff;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

@media (max-width:1380px) {

  .Main_Header {
 
    grid-column: 2 / span 9;
    font-size: 1rem;
    padding: 0.7rem;
    margin-bottom: var(--spacing);
   }
   .Truck_Shoot{
    width: 23rem; 
    height: auto;
   
    grid-column: 2/ span 5;
  }

  .Phone{
    width: 10rem; 
    height: auto;
    grid-column: 3/ span 6;
  }

   blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 11;
    margin-bottom: var(--spacing);
  }
  blockquote p {
    color: black;
    background-color: white;
    font-size: 2rem;
    display: inline;
    line-height: 1;
  }
  section {
    grid-column: 2 / 12 ;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }
  .Truck_ShootL{
    width: 400%; /* ie8 */
    height: auto;
    margin-bottom: 40px;
    grid-column: 2/ span 2;
  }

  
}

@media (max-width:800px) {

  .Main_Header {
 
    grid-column: 2 / span 9;
    font-size: 1rem;
    padding: 0.7rem;
    margin-bottom: var(--spacing);
   }
   .Truck_Shoot{
    width: 23rem; 
    height: auto;
   
    grid-column: 2/ span 5;
  }

   blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 11;
    margin-bottom: var(--spacing);
  }
  blockquote p {
    color: black;
    background-color: white;
    font-size: 2rem;
    display: inline;
    line-height: 1;
  }
  section {
    grid-column: 2 / 12 ;
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }
  .Truck_ShootL{
    width: 250%; /* ie8 */
    height: auto;
    margin-bottom: 40px;
    grid-column: 2/ span 2;
  }

  
}
